body{
    margin: 0 auto;
    padding: 0 auto;
}

.rssFeed {
    position: fixed;
    right: 0;
    top: 155px;
    bottom: 0;
    width: 24.35vw;
    background: rgba(255, 255, 255, 0.7);
    border-left: 10px solid rgba(2, 14, 36, 0.7);
    border-top: 10px solid rgba(2, 14, 36, 0.7);
    overflow: auto;
    text-decoration: none;
}

.rssFeed H2 {
    font-family: Arial;
    font-size: 1.2em;
    margin: 0;
}

.rssFeed a {
    text-decoration: none;
    color: #800;
}

.rssFeed p {
    color: black;
    font-size: 0.9em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.tweakers-logo {
    width: 23.3vw;
    background-color: #800;
    opacity: 1;
}

.tweakers-logo img {
    height: auto;
    margin: 0;
    float: none;
}

#tweakers-text {
    width: calc(100% - 10px);
    margin: 0 auto;
}
