body {
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #389aff;
    word-wrap: break-word;
}

#navBar {
    position: fixed;
    top: 155px;
    left: 0;
    width: 75%;
}

#navBarWithoutRss {
    position: fixed;
    top: 155px;
    left: 0;
    width: 100%;
}

#contentAndRssContainer {
    top: 155px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-image: url("../img/background_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#contentContainerFullWidth {
    overflow: auto;
    position: fixed;
    top: 267.4px;
    left: 0;
    bottom: 0;
    width: 100%;
}

#contentContainer {
    overflow: auto;
    position: fixed;
    top: 267.4px;
    left: 0;
    bottom: 0;
    width: 75%;
}

ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

ul li {
    width: 250px;
    margin: auto;
    list-style: none;
    text-align: center;
    background-color: #020e24;
    padding-top: 10px;
    padding-bottom: 8px;
}

li a {

    font-family: "Bauhaus 93";
    font-size: 35px;
    text-decoration: none;
    color: white;
}

a img {
    height: 115px;
    float: left;
    margin: 20px;
}

.imgOrTextContainer img {
    width: 350px;
    padding: 40px;
}

h1 {
    font-family: "Constantia";
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    font-size: 37px;
    color: white;
    font-weight: normal;
}

#header h2 {
    color: white;
    font-family: "Bauhaus 93";
    font-size: 115px;
    text-shadow: 12px 10px #001330;
	margin: 0;
    margin-left: 5%;
    float: left;
    line-height: 1.3;

}

h3 {
    color: #389aff;
    font-family: "Bauhaus 93";
    font-size: 50px;
    margin: 10px;
    margin-left: 25px;
    float: left;
    line-height: 1.3;
    text-shadow: 5px 3px #001330;
}

p {
    font-family: "Constantia";
    padding-left: 40px;
    padding-bottom: 25px;
    padding-right: 40px;
    font-size: 21px;
    color: white;
    line-height: 1.4;
    text-align: left;
}

p a {
    display: block;
    float: right;
    background-color: white;
    color: #020e24;
    text-decoration: none;
    padding: 30px 40px;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.imgOrTextContainer {
    background-color: rgba(2, 14, 36, 0.7);
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 25px;
}

.imgOrTextContainer2 {
    background-color: rgba(2, 14, 36, 0.7);
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 25px;
}

#footer {
    margin-top: 25px;
    bottom: 0;
    width: 100%;
    background-color: #020e24;
}

#footer p {
    padding-top: 25px;
    margin-bottom: 0;
}

#usingPage {
    padding-bottom: 1px;
    border-bottom: 7px solid #389aff;
}

#contactGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 'name message' 'email message' 'phone message';
}

#contactGridCell1 {
    grid-area: name;
}

#contactGrid img {
    float: left;
    margin: 10px;
    padding: 0;
    width: 20%;
    border: 3px solid #389aff;
}

#contactGridCell2 {
    grid-area: email;
}

#contactGridCell3 {
    grid-area: phone;
}

#contactGridCell4 {
    grid-area: message;
}

input {
    width: 60%;
    font-family: "Constantia";
    font-size: 18px;
    padding: 2%;
    color: #389aff;
    background: rgba(2, 14, 36, 0.7);
    border: 3px solid #398aff;
    margin: 2%;
}

textarea {
    font-family: "Constantia";
    font-size: 18px;
    padding: 2%;
    width: 60%;
    color: #389aff;
    background: rgba(2, 14, 36, 0.7);
    border: 3px solid #398aff;
    margin: 2%;
    resize: none;
}

::placeholder {
	color:#398aff;
}

.horizantalImg {
    width: 400px;
    margin: auto 0;
}

.verticalImg {
    height:400px;
    margin:0 auto;
}

#photoPageGrid
{
    display:grid;
    grid-template-columns:400px 400px 400px;
    grid-gap:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:86.44px ;
}